/* color accent: #2196F3;
color title: #212121;
color h1: #FFFFFF;
color text: #757575;
background: #FFFFFF;
background hero: #2F303A;

*/

html {
	box-sizing: border-box;
}
*,
*::before *::after {
	box-sizing: inherit;
}
:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--primary-white-color: #ffffff;
	--button-background-color: #f5f4fa;
}

/*index*/

body {
	font-family: Roboto, sans-serif;
	background: var(--primary-white-color);
	color: var(--primary-text-color);
	font-size: 16px;
	margin: 0px auto;
}
section {
	width: 1230px;
	margin: 0px auto;
}
ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
}
li {
	display: inline-block;
	margin: 0px;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.container {
	width: 1600px;
	margin: 0px;
}
.section {
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 0.03em;
	padding-left: 15px;
	padding-right: 15px;
}
/*header*/
.menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.logo {
	font-family: Raleway;
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	text-decoration: none;
	padding-top: 24px;
	padding-bottom: 25px;
	margin-right: 93px;
}
.logo-title {
	color: var(--accent-color);
	font-family: Raleway;
	padding-top: 24px;
	padding-bottom: 25px;
}
.site-nav {
	display: flex;
	align-items: center;
	margin-right: auto;
}
.menu-item {
	padding-top: 32px;
	padding-bottom: 32px;
}
.menu-item .item:not(:last-child) {
	margin-right: 50px;
}
.link {
	text-decoration: none;
}
.menu-item .link {
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.1;
}
.menu-item .link:hover,
.menu-item .link:focus {
	color: var(--accent-color);
}
.menu-item .link.current {
	color: var(--accent-color);
}

/* hero */
.hero {
	width: 1600px;
	margin: 0px;
}
.hero-title {
	/*color: var(--primary-white-color) */
	width: 696px;
	height: 120px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	font-weight: 900;
	text-align: center;
	letter-spacing: 0.06em;
	margin: 200px 452px 30px;
}
.hero .button {
	width: 200px;
	height: 50px;
	margin-top: 0px;
	margin-bottom: 200px;
	border-radius: 4px;
	padding: 10px 32px;
	text-decoration: none;
	border-color: transparent;
	font-weight: 700;
	line-height: 1.9;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--primary-white-color);
	background-color: var(--accent-color);
}

/*features*/
.features {
	display: flex;
	flex: wrap;
	padding-top: 94px;
	padding-bottom: 94px;
}

.features-list {
	width: calc((100% - 3 * 30px) / 4);
	margin-right: 30px;
}
.features-list:last-child {
	margin-right: 0px;
}
.features-list .title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 10px;
}
.features-list .content {
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
	margin: 0px;
}
/*work*/
.work-title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-align: center;
}
.work-card {
	display: flex;
	flex: wrap;
	padding-bottom: 94px;
}
.img-work {
	margin-right: 30px;
}
.img-work:first-child {
	margin-left: 0px;
}
.img-work:last-child {
	margin-right: 0px;
}

/* team */

.team {
	padding-bottom: 94px;
	background-color: var(--button-background-color);
}
.team-list-title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
	margin: 0px;
	padding-top: 94px;
	padding-bottom: 50px;
}
.team-list {
	display: flex;
	flex: wrap;
}
.team-card {
	width: calc((100% - 30px * 3) / 4);
	text-align: center;
	margin-right: 30px;
	background-color: var(--primary-white-color);
	border-radius: 0px 0px 4px 4px;
}
.team-card:last-child {
	margin-right: 0px;
}

.name-title {
	color: var(--title-text-color);
	font-weight: 500;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
	margin: 0px;
}
/*footer*/
.address {
	padding-top: 60px;
	padding-bottom: 60px;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}
.contacts {
	color: var(--primary-text-color);
}

/*portfolio*/
.filters {
	display: flex;
	justify-content: center;
	padding-top: 94px;
}
.filter-list {
	padding-right: 8px;
	padding-bottom: 50px;
}
.filter-list:last-child {
	padding-right: 0px;
}
button {
	color: var(--title-text-color);
	background-color: var(--button-background-color);
	border-color: transparent;
	border-radius: 4px;
	font-family: Roboto;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	letter-spacing: 0.03em;
	text-align: center;
	text-decoration: none;
	padding: 6px 22px;
}

.filter-list button:hover,
.filter-list button:focus {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	border-color: transparent;
}

/*projects*/
.projects {
	display: flex;
	flex: wrap;
	padding-bottom: 94px;
}

.project-card {
	width: calc((100% - 2 * 30px) / 3);
	margin-right: 30px;
	margin-bottom: 30px;
}
.project-card:nth-child(3n) {
	margin-right: 0px;
}
.project-card:nth-child(3n + 1) {
	margin-left: 0px;
}
.project-card:nth-child(-n + 3) {
	margin-bottom: 0px;
}
.project-title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	text-align: left;
	margin: 0px;
	padding: 20px 0px 4px 24px;
}
.project-type {
	line-height: 1.87;
	letter-spacing: 0.03em;
	text-align: left;
	margin: 0px;
	padding: 0px 0px 20px 24px;
}
